.hm_banner {
    position: relative;
    height: calc(100vh + 100vh/3);
}

.hm_banner::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 0.7);
    content: '';
}

#bannerVideo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}

.ban_caption {
    position: absolute;
    left: 50%;
    top: 30%;
    width: 900px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ban_caption h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.ban_caption h1 {
    font-family: 'Assistant', sans-serif;
    font-size: 4.625rem;
    font-weight: 700;
    color: #f1b308;
    margin: 0;
    text-transform: uppercase;
}

.tp_bx {
    position: relative;
    border: 1px dashed #ffff;
    padding: 18px 42px;
    margin-bottom: 30px;
    min-height: 112px;
}

.tp_bx::before,
.tp_bx::after,
.bxx::before,
.bxx::after {
    position: absolute;
    width: 9px;
    height: 9px;
    left: 50%;
    background: #fff;
    content: '';
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.tp_bx::before {
    top: -5px;
}

.tp_bx::after {
    bottom: -5px;
}

.bxx::before {
    top: -55px;
}

.bxx::after {
    bottom: -55px;
}

.bxx {
    position: absolute;
    width: 9px;
    height: 9px;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.bxx.lt {
    left: -5px;
}

.bxx.rt {
    right: -5px;
}

.services_sec {}

.gray_sec {
    background-color: #222;
    position: relative;
}

.rt_bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.gray_sec::before,
.gray_sec::after,
.rt_bx::before,
.rt_bx::after {
    width: 100%;
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 20% 99%);
}

.gray_sec::before,
.rt_bx::before {
    height: 22px;
    background: #333232;
    z-index: 1;
}

.gray_sec::after,
.rt_bx::after {
    height: 44px;
    background: #282828;
}

.rt_bx::before,
.rt_bx::after {
    bottom: auto;
    top: 0;
    clip-path: polygon(0 0, 78% 0, 100% 0, 0 100%);
}

.what_we_do h2 {
    font-family: 'Assistant', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.what_we_do h2 span {
    font-size: 4.875rem;
    display: block;
}

.what_we_do p {
    line-height: 1.5;
    font-size: 1.125rem;
    max-width: 450px;
    margin-bottom: 25px;
}

.what_we_do ul {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.what_we_do ul li {
    max-width: 50%;
    width: 265px;
    padding-right: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.what_we_do ul li a {
    display: block;
    position: relative;
    font-size: 1.125rem;
    color: #fff;
    padding: 10px 80px 10px 50px;
    line-height: 1.4;
}

.what_we_do ul li a i {
    position: absolute;
    left: -15px;
    width: 50px;
    display: flex;
    justify-content: center;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.what_we_do ul li a i svg {
    fill: #fff;
}

.what_we_do ul li a:hover,
.what_we_do ul li a.active {
    background-color: #2c2921;
    color: #f1b308;
}

.what_we_do ul li a.active {
    font-weight: 700;
}

.what_we_do ul li a:hover i svg,
.what_we_do ul li a.active i svg {
    fill: #f1b308;
}

.what_we_do .lc_idea {
    line-height: 1.5;
    font-size: 1.125rem;
    display: flex;
    font-weight: 700;
    align-items: center;
    margin-bottom: 10px;
}

.what_we_do .lc_idea i {
    margin-right: 10px;
}

.what_we_do .ssl_bx {}

.what_we_do ul li a::before {
    position: absolute;
    right: 25px;
    top: 50%;
    width: 45px;
    height: 100%;
    content: '';
    background: url(../images/icons/ar_rt.svg) no-repeat;
    background-size: 100% auto;
    transform: translateY(-50%);
    background-position: center;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.01);
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1.01);
}

.what_we_do ul li a.active::before {
    opacity: 1;
    right: 15px;
}

.serv_tb {
    display: none;
}

.what_we_do {
    width: 599px;
    max-width: 47%;
}

.what_we_do_grph {
    width: 701px;
    max-width: 53%;
}

.latest_project_sec {
    background-color: #0e0f0f;
    overflow: hidden;
    min-height: 100vh;
}

.who_we_are {
    overflow: hidden;
}

.who_we_are p {
    line-height: 1.67;
}

.who_we_are .btn_line {
    margin: 25px 0 50px 0;
}

#clin_ls {
    margin: 25px -70px 0 -70px;
    width: calc(100% + 140px);
}

#clin_ls .owl-item .item {
    background: #2c2c2c;
    width: 180px;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#clin_ls .owl-item .item img {
    max-width: 100%;
    display: block;
    transform: scale(0.75);
    -webkit-transform: scale(0.75);
}

#clin_ls .owl-item:nth-child(2n+0) .item {
    background: #0e0e0e;
}

.reimagining_entrepreneurial_sec {
    overflow: hidden;
}

.reimagining_entrepreneurial_sec h2 {
    display: block;
    line-height: 1.3;
    padding-bottom: 0;
}

.reimagining_entrepreneurial_sec h2::before {
    display: none;
}

.reimagining_entrepreneurial_sec h2 span {
    display: block;
    color: #fff;
}

.reimagining_entrepreneurial_sec p {
    max-width: 400px;
    line-height: 1.5;
}

.services_ls_bx {
    display: flex;
    width: 200vw;
    margin: 0 -70px;
    flex-wrap: nowrap;
}

.services_ls_bx.lt {
    margin-top: 30px;
}

.services_ls_bx.rt {
    margin-bottom: -30px;
}

.domains_ls:last-child {
    flex-direction: row-reverse
}

.domains_ls {
    align-items: center;
    color: #3e3f3f;
    counter-reset: section;
    display: flex;
    position: relative;
    will-change: transform;
    width: 100%;
}

.domains_ls:last-child {
    counter-reset: section 5
}

.domains_ls li {
    align-items: center;
    display: flex;
    position: relative;
    white-space: pre;
    font-family: 'Assistant', sans-serif;
    font-weight: 400;
}

.domains_ls li::before {
    content: counter(section);
    counter-increment: section;
    left: 0;
    position: absolute;
    text-align: center
}

.domains_ls li::after {
    background: #3e3f3f;
    content: '';
    height: 1px;
    width: 62px
}

.services_ls_bx.lt ol:nth-child(1) {
    animation: services1a 60s linear -20s infinite;
}

.services_ls_bx.lt ol:nth-child(2) {
    animation: services1b 60s linear 10s infinite
}

.services_ls_bx.rt ol:nth-child(1) {
    animation: services2a 60s linear -20s infinite
}

.services_ls_bx.rt ol:nth-child(2) {
    animation: services2b 60s linear 10s infinite
}

@keyframes services1a {
    0% {
        -webkit-transform: translate3d(100vw, 0, 0);
        transform: translate3d(100vw, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(100vw, 0, 0) translate3d(-200%, 0, 0);
        transform: translate3d(100vw, 0, 0) translate3d(-200%, 0, 0)
    }
}

@keyframes services1b {
    0% {
        -webkit-transform: translate3d(100vw, 0, 0) translate3d(-100%, 0, 0);
        transform: translate3d(100vw, 0, 0) translate3d(-100%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(100vw, 0, 0) translate3d(-300%, 0, 0);
        transform: translate3d(100vw, 0, 0) translate3d(-300%, 0, 0)
    }
}

@keyframes services2a {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
}

@keyframes services2b {
    0% {
        -webkit-transform: translate3d(-200%, 0, 0);
        transform: translate3d(-200%, 0, 0)
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.awards_sec .lt {
    width: 547px;
    max-width: 50%;
}

.awards_sec .lt p {
    line-height: 1.67;
}

.awards_sec .lt h2 {
    width: 250px;
    max-width: 100%;
}

.awards_sec .rt {
    max-width: 50%;
}

.awards_im figure img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.awards_im {
    width: 160px;
    text-align: center;
    line-height: 1.67;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
}

.awards_im figure {
    height: 113px;
    margin: 0 0 20px 0;
}

.blog_sec {
    overflow: hidden;
}

#blog_sld {
    display: flex;
    margin: 0 0 -20px -20px;
}

.blog_bx {
    width: 380px;
    margin: 20px;
}

.blog_bx figure a {
    display: block;
    width: 100%;
    height: 240px;
}

.blog_bx figure a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    border-radius: 4px;
}

.blog_bx figure {
    margin-bottom: 30px;
}

.blog_bx .nm {
    font-size: 1.75rem;
    color: #fff;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    margin-bottom: 20px;
}

.blog_bx p {
    font-size: 1.125rem;
    line-height: 1.67;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog_bx .ln_btn {
    display: inline-flex;
    padding: 0 0 5px;
    font-size: 1.125rem;
    margin: 20px 0 0;
    color: #f1b308;
    position: relative;
}

.see_all_nv .arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -42px;
    top: -3px;
    opacity: 0;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1)
}

.see_all_nv .arrow i {
    font-style: normal;
    position: absolute;
    top: 4px;
    left: -12px;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1)
}

.see_all_nv {
    position: relative;
    color: #fff;
    margin-right: 60px;
    font-size: 1.125rem;
}

.see_all_nv:hover .arrow {
    opacity: 1
}

.see_all_nv .arrow i span {
    position: relative;
    left: 0;
    top: -7px;
    font-size: 31px;
    padding: 0;
    -webkit-transition: all .6s cubic-bezier(.19, 1, .22, 1);
    transition: all .6s cubic-bezier(.19, 1, .22, 1)
}

.see_all_nv .arrow svg {
    position: absolute;
    top: -3px;
    left: 5px
}

.see_all_nv .arrow-icon--circle {
    transition: stroke-dashoffset .3s ease;
    stroke-dasharray: 95;
    stroke-dashoffset: 95
}

.see_all_nv:hover .arrow-icon--circle {
    stroke-dashoffset: 0
}

.see_all_nv:hover .arrow i {
    left: -3px;
}

.nw_projects h2 {
    font-weight: 600;
    padding-bottom: 0;
}

.nw_projects h2::before {
    display: none;
}

.nw_projects p {
    font-weight: 700;
    margin-bottom: 35px;
}

.mouse_ani {
    position: absolute;
    left: 50%;
    top: calc(100vh - 70px);
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.mouse_ani .ln {
    width: 20px;
    height: calc(100vh / 3 + 20px);
    background: #222;
    display: block;
    margin: 13px 0 0 0;
    border-radius: 30px;
    transform: scaleY(0);
    -webkit-transform: scaleY(0);
    transform-origin: top center;
}

#lst_project_sl .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 70px;
    align-items: center;
    overflow: hidden;
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 70px;
}

#lst_project_sl .item .lt,
#lst_project_sl .item .rt {
    width: 50%;
}

#lst_project_sl .item .lt {
    max-width: 550px;
}

#lst_project_sl .item .rt {
    max-width: 672px;
}

#lst_project_sl .item .rt figure img {
    max-width: 100%;
}

.project_del h3 {
    font-size: 4.25rem;
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
}

.project_del .shd {
    font-size: 1.375rem;
    color: #5f5f5f;
    margin: 10px 0 35px;
    display: block;
}

.project_del p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 30px;
}

.latest_project_sec .container {
    position: absolute;
    top: 100px;
}

.project_del .btn_line {
    font-size: 1rem;
}

.project_del .btn_line:hover svg {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    margin-top: -3px;
}

#lst_project_sl .owl-dots .owl-dot span {
    display: block;
    width: 24px;
    height: 4px;
    background: #d8d8d8;
    border-radius: 13px;
    transition: all 0.3s ease-out;
}

#lst_project_sl .owl-dots .owl-dot {
    padding: 10px 3px !important;
}

#lst_project_sl .owl-dots {
    margin-left: 70px;
    position: absolute;
    bottom: 80px;
    opacity: 0;
}

#lst_project_sl .owl-dots .owl-dot.active span {
    background: #cf9a09;
}

.first_ph {
    transform: scale(4.3);
    z-index: 99;
    position: relative;
    transition: all 0.1;
}

#lst_project_sl .owl-stage-outer {
    overflow: visible;
}


/* #lst_project_sl .owl-stage-outer,
#lst_project_sl .owl-stage,
#lst_project_sl .owl-item,
#lst_project_sl .item {
    pointer-events: none;
} */

.ovrd {
    position: absolute;
    content: '';
    top: -90px;
    left: 0;
    width: 700px;
    height: 100vh;
    background-color: #0e0f0f;
    z-index: 2;
    opacity: 1;
    pointer-events: none;
    transition: all 0.5s cubic-bezier(0, 0, 0, 1.01);
    -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1.01);
}

@media all and (max-width:1500px) {
    .domains_ls li::before {
        letter-spacing: -.5px
    }
}

@media all and (max-width:900px) {
    .domains_ls li {
        letter-spacing: -2px
    }
}

@media all and (max-width:600px) {
    .domains_ls li {
        font-size: 3.5rem;
        line-height: 1.5;
        margin-right: 21px
    }
    .domains_ls li::before {
        font-size: 1.25rem;
        left: -20px;
        line-height: 1.5;
        width: 20px
    }
    .domains_ls li::after {
        margin-left: 5px
    }
}

@media all and (min-width:601px) and (max-width:1500px) {
    .domains_ls li {
        margin-right: 34px
    }
    .domains_ls li::before {
        font-size: 1.5rem;
        left: -24px;
        line-height: 1.5;
    }
    .domains_ls li::after {
        margin-left: 10px
    }
}

@media all and (min-width:601px) and (max-width:1200px) {
    .domains_ls li {
        font-size: 4;
        line-height: 1.5;
    }
}

@media all and (min-width:901px) {
    .domains_ls li {
        letter-spacing: -4px
    }
}

@media all and (min-width:1201px) and (max-width:1500px) {
    .domains_ls li {
        font-size: 4.25rem;
        line-height: 1.5;
    }
}

@media all and (min-width:1501px) {
    .domains_ls li {
        line-height: 1.6;
        margin-right: 59px;
    }
    .domains_ls li::before {
        font-size: 2.125rem;
        left: -39px;
        letter-spacing: -1px;
        line-height: 56px;
    }
    .domains_ls li::after {
        margin-left: 20px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {}

@media only screen and (max-width: 767px) {}